* {
    box-sizing: border-box;
}

html {
    font-family: "montserrat", sans-serif;
    scroll-behavior: smooth;
    background-color: $bgClr;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}


