// Colors:
$bgClr: #e8eaed;
$clr1: white;
$clr2: #c6c6c6b5;
$clr3: #b3b2b2;
// $clr4: #f84300;
$clr4:#ff7629;
$clr5: #545252;
$clr6: #ff955a;
$clr7: #f8430085;
$clr8:#ff641a;
// $clr8: #f55013;
$clr9: #f843002e;
$clr10: #d1bcae;
$clr11: #f4c73d;
$clr12: #dfd2ab;
$clr13: #5c4912;
$clr14: #ffec7f;
$clr15: #303030;
$clr16: #94330f;
$clr17: #ff9800;
$clr18: #d8652b;
$clr19: #151515;
$clr20: #fbc9b7;
$clr21: #ffeaabb5;
$clr22: #3d3d3d;
$clr23: #ffd5c7;
$clr24:#262626;
$clr25:#404040;
$clr26:#060606;

